@import "tailwindcss";

:root {
    font-family: "Roboto Mono", monospace;

    --background: #0E0E11;
    --foreground: #d7d7d7;
    --accent: #9952E0;
}

body {
    color: var(--foreground);
    background: var(--background);
}

.text-accent {
    color: var(--accent);
}
